# compose.yaml related configuration


# potgresql
POSTGRES_DB=prod
POSTGRES_USER=database
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432


# pgadmin
PGADMIN_DEFAULT_EMAIL=pg_admin@example.com
PGADMIN_DEFAULT_PASSWORD=pg_admin
PGADMING_PORT=80

# backend
BACKEND_PORT=8000

# frontend
FRONTEND_PORT=8080